* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202217;
  font-family: "Roboto Slab", serif;
}

.home {
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202217;
  position: relative;
}

.letters {
  display: flex;
  font-size: 9rem;
  color: #8d785b;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.letters-tablet {
  display: flex;
  font-size: 9rem;
  color: #8d785b;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.circle-shape {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 700px;
  height: 700px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
}

.circle-shape-2, .circle-shape-3 {
  position: absolute;
  width: 140px;
  height: 140px;
  background-color: #a83e0c;
  border-radius: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #202217;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.circle-shape-3 {
  width: 200px;
  height: 200px;
}

.home-img {
  overflow: hidden;
  position: absolute;
  transform: translate(-101%, 32%);
  width: 470px;
}
.home-img .box {
  background-color: #202217;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
.home-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.home-text {
  position: absolute;
  text-align: center;
  left: 0;
  top: 130px;
  z-index: 2;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
.home-text > h1 {
  font-size: 4rem;
  background: linear-gradient(94deg, rgb(141, 120, 91) 35%, rgb(168, 62, 12) 38%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  white-space: nowrap;
}
.home-text h2 {
  font-size: 3rem;
  background: rgb(141, 120, 91);
  background: linear-gradient(0deg, rgb(141, 120, 91) 44%, rgb(168, 62, 12) 53%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem 0;
}
.home-text p {
  font-size: 1.17rem;
  display: inline-block;
  width: 43%;
  color: #8d785b;
  white-space: normal;
}
.home-text #khaki-mobile {
  line-height: 80px;
  color: #8d785b;
  display: inline-flex;
  font-size: 1.6rem;
  margin: 0.6rem 0 0 1rem;
}
.home-text #khaki-mobile span {
  color: #a83e0c;
  margin: 0.8rem 0.7rem 0 1rem;
}
.home-text #khaki-mobile span img {
  width: 37px;
  height: 37px;
}

.home-social {
  margin-top: 2rem;
}
.home-social ul {
  list-style: none;
  display: inline-flex;
}
.home-social ul li:not(:last-child) {
  margin-right: 3rem;
}
.home-social ul li a {
  color: #202217;
  font-size: 1.5rem;
  background-color: #a83e0c;
  border-radius: 40px;
  box-shadow: inset 0 0 0 0 #8d785b;
  transition: all 0.5s;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-social ul li a:hover {
  box-shadow: inset 200px 0 0 0 #8d785b;
}

@media screen and (max-width: 1279.98px) {
  .home-img {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .home-text p {
    width: 600px;
  }
}
@media screen and (max-width: 999.98px) {
  html {
    font-size: 90%;
  }
  .home-text p {
    width: 60%;
  }
  .circle-shape {
    width: 650px;
    height: 650px;
  }
  .circle-shape-2, .circle-shape-3 {
    width: 120px;
    height: 120px;
  }
  .circle-shape-3 {
    width: 160px;
    height: 160px;
  }
}
@media screen and (min-width: 875px) {
  .letters-tablet {
    display: none;
  }
}
@media screen and (max-width: 874.98px) {
  html {
    font-size: 80%;
  }
  .letters,
  .circle-shape-3,
  .circle-shape-2 {
    display: none;
  }
  .circle-shape {
    width: 630px;
    height: 630px;
  }
}
@media screen and (min-width: 600px) {
  .home-text #khaki-mobile {
    display: none;
  }
}
@media screen and (max-width: 599.98px) {
  .logo {
    display: none;
  }
  .circle-shape {
    display: none;
  }
  .home-text {
    top: 20%;
  }
  .home-text p {
    width: 90%;
  }
}
#nav {
  min-height: 10vh;
  background-color: #202217;
}

#khaki {
  position: absolute;
  left: 50%;
  line-height: 80px;
  color: #8d785b;
  display: flex;
}
#khaki span {
  color: #a83e0c;
  margin: 0.8rem 0.1rem 0 0.3rem;
}
#khaki span img {
  width: 45px;
  height: 45px;
}

.logo {
  fill: wheat;
  margin-top: 0.6rem;
}

.home-head {
  color: wheat;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 4.5rem;
  align-items: center;
}
.home-head nav ul {
  display: flex;
  list-style: none;
}
.home-head nav ul li {
  font-size: 1.3rem;
  position: relative;
  cursor: pointer;
}
.home-head nav ul li:not(:last-child) {
  margin-right: 4rem;
}
.home-head nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 0;
  background-color: #a83e0c;
  transition: all 0.5s;
}
.home-head nav ul li.active::after {
  width: 100%;
}
.home-head nav ul li:hover::after {
  width: 100%;
}
.home-head nav ul li a {
  text-decoration: none;
  color: wheat;
}

.menu-open,
.menu-close {
  position: absolute;
  top: 10px;
  right: 24px;
  padding: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

.menu-open::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  background-color: #a83e0c;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  z-index: -1;
  transition: all 0.5s;
  transform: scale(0);
}

.menu-close::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -47px;
  margin-top: -29px;
  width: 0;
  height: 0;
  border-left: 47px solid transparent;
  border-right: 47px solid transparent;
  border-bottom: 50px solid #a83e0c;
  z-index: -1;
  transition: all 0.5s;
  transform: scale(0);
}

.menu-open:hover::before,
.menu-close:hover::before {
  transform: scale(1);
}

.fullscreen {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #8d785b;
  z-index: 5;
  transition: all 0.5s;
}

.menu-item {
  position: relative;
  padding: 0 3rem;
}

.menu-item-link {
  position: relative;
  cursor: pointer;
  display: inline-block;
  transition: all 0.4s;
  text-decoration: none;
  color: #a83e0c;
}
.menu-item-link:hover {
  transition-duration: 0.1s;
  opacity: 0;
}
.menu-item-link:before {
  all: initial;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.menu-item-img {
  z-index: 8;
  pointer-events: none;
  position: absolute;
  height: 12vh;
  max-height: 600px;
  opacity: 0;
  left: 8%;
  top: 10%;
  transform: scale(0);
}

.menu-item-link:hover + .menu-item-img {
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s;
}

.menu {
  padding: 13vh 0 25vh;
  font-size: 13vw;
  z-index: 3;
}

.multi {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: rgba(214, 214, 214, 0.8);
  pointer-events: none;
}
.multi .multi-inner {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  position: relative;
  opacity: 0;
  transition: all 0.1s;
  transform: translateX(60px);
}

.menu-item-link:hover ~ .multi .multi-inner {
  opacity: 1;
  transform: translateX(0px);
  transition-duration: 0.4s;
}

.menu-item-link,
.multi span {
  white-space: nowrap;
  font-size: 7vw;
  padding: 0 1vw;
  line-height: 1.15;
}

.multi span {
  font-style: italic;
}

.active {
  left: 0;
}

@media screen and (min-width: 1200px) {
  .menu-open {
    display: none;
  }
  .fullscreen {
    display: none;
  }
}
@media screen and (max-width: 1199.98px) {
  .home-head nav ul {
    display: none;
  }
}
@media screen and (max-width: 874.98px) {
  #khaki span img {
    width: 36px;
    height: 36px;
  }
}
@media screen and (max-width: 599.98px) {
  #khaki {
    display: none;
  }
  .menu {
    text-align: center;
  }
}
.projects {
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem 10rem;
}
.projects h2 {
  padding: 1rem 0;
  font-size: 3rem;
  color: #ca4e15;
  white-space: nowrap;
}
.projects p {
  color: wheat;
  font-size: 1.2rem;
}

.project {
  cursor: pointer;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  position: relative;
}
.project .detail {
  position: relative;
  z-index: 2;
}
.project:not(:last-child) {
  margin-bottom: 8rem;
}
.project:last-child {
  margin-bottom: 3rem;
}
.project .line {
  height: 0.5rem;
  background-color: #a83e0c;
  margin-bottom: 3rem;
}
.project a {
  display: inline-block;
  position: relative;
}
.project img {
  width: 313px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 3;
  -o-object-position: top;
     object-position: top;
}
.project img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.project .circle-project {
  width: 35px;
  height: 0;
  background: #ca4e15;
  position: absolute;
  right: -25px;
  transition: all 0.5s linear;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.project .circle-project-left {
  display: none;
  right: auto;
  left: -25px;
}
.project .line-project {
  width: 0%;
  position: absolute;
  height: 10px;
  background-color: #ca4e15;
  transition: all 1s;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.project:hover .circle-project {
  height: 150px;
  transition: all 0.5s linear 0.5s;
}
.project:hover .line-project {
  width: 100%;
}

.odd-project {
  direction: rtl;
}
.odd-project .circle-project {
  right: auto;
  left: -25px;
}
.odd-project .circle-project-left {
  left: auto;
  right: -25px;
}

.btn-project {
  position: relative;
  left: 0;
  top: 0;
  background: wheat;
  border-color: #fff;
  color: #a83e0c;
  border: 0;
  font-weight: 600;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  padding: 15px;
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
}

.btn-project:before {
  position: absolute;
  left: 12px;
  top: 10px;
  background: #a83e0c;
  border: 0;
  border-radius: 0;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.btn-project:hover {
  left: 12px;
  top: 10px;
  background: #a83e0c;
  color: #fff;
}

.btn-project:hover:before {
  left: -12px;
  top: -10px;
  background: #fff;
}

.btn-project,
.btn-project:before {
  transition: all 0.3s linear;
}

@media screen and (max-width: 874.98px) {
  .projects {
    padding: 4rem 4rem;
  }
  .projects .project .detail {
    margin-top: 16px;
  }
  .projects .project h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 650px) {
  .projects .project {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .projects .project .circle-project-left {
    display: block;
  }
  .projects .project:not(:last-child) {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 599.98px) {
  .projects {
    padding: 2rem 1rem;
  }
  .projects h2 {
    font-size: 2.4rem;
  }
}
.first-details {
  min-height: 90vh;
  position: relative;
}
.first-details img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  filter: blur(2px);
}

.text-details {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -40%);
  color: wheat;
  width: 70%;
}
.text-details h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-color: #a83e0c;
}
.text-details p {
  font-size: 1.5rem;
}

.demo {
  position: absolute;
  letter-spacing: 0.8rem;
  font-size: 6rem;
  top: 76%;
  text-decoration: none;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%) rotate(-20deg);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #a83e0c;
  transition: all 0.5s;
  white-space: nowrap;
}
.demo:hover {
  transform: translate(-50%, -50%) rotate(0deg);
  -webkit-text-fill-color: #a83e0c;
  border: 10px solid wheat;
  background-color: rgba(0, 0, 0, 0.6);
}

.about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0 8rem;
}

.about-text {
  flex: 1 1 33rem;
  margin-left: 2rem;
}
.about-text h2 {
  color: #a83e0c;
  font-size: 3rem;
  margin-top: 1.5rem;
}
.about-text p {
  color: wheat;
  font-size: 1.3rem;
}
.about-text .line {
  height: 0.5rem;
  background-color: #a83e0c;
  margin: 2rem 0 2rem -1rem;
  border-radius: 40%;
  width: 40%;
}

.about-img {
  flex: 1 1 36rem;
}
.about-img img {
  width: 100%;
  height: 110vh;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.options {
  min-height: 40vh;
}
.options ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 3rem 0 0 1rem;
}
.options li {
  font-size: 2rem;
  color: wheat;
  flex: 1 1 20rem;
  margin-bottom: 3rem;
}
.options li svg {
  color: #a83e0c;
  margin-right: 0.5rem;
}

@media screen and (min-width: 1120px) {
  .text-details {
    display: none;
  }
}
@media screen and (max-width: 1119.98px) {
  .about-img {
    margin-top: 5rem;
  }
  .first-details img {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  .demo {
    font-size: 3.3rem;
    letter-spacing: 0.5rem;
  }
  .text-details h2 {
    font-size: 2.7rem;
  }
  .text-details p {
    font-size: 1.3rem;
  }
}
.contact {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.contact header {
  width: 100%;
}
.contact header h2 {
  padding: 2.5rem 0;
  background-color: #a83e0c;
  margin: 1rem auto;
  color: #202217;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 2rem;
  font-size: 6vw;
  animation: contact-bg 4s infinite alternate;
  animation-delay: 2s;
}
.contact .phone-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}
.contact .phone-email h3 {
  flex: 1 1 20rem;
  color: #a83e0c;
}
.contact .phone-email h3 span {
  color: #8d785b;
}

.contact-form {
  text-align: center;
  width: 450px;
  margin: 1rem auto;
}

.form-input {
  width: 100%;
  height: 55px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  background-color: #8d785b;
  color: wheat;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s linear;
}
.form-input::-moz-placeholder {
  color: rgba(245, 222, 179, 0.9);
}
.form-input::placeholder {
  color: rgba(245, 222, 179, 0.9);
}
.form-input:hover, .form-input:focus, .form-input:active {
  border-left: solid 8px #a83e0c;
  border-right: solid 8px #a83e0c;
  box-shadow: 0 0 100px rgba(168, 62, 12, 0.9);
}

.form-textarea {
  height: 100px;
  padding: 1rem 1rem 0 1rem;
  text-align: left;
}

.form-btn {
  outline: none;
  border: none;
  width: 100%;
  height: 55px;
  background-color: #a83e0c;
  color: wheat;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s linear;
}
.form-btn:hover {
  border-left: 8px solid wheat;
  border-right: 8px solid wheat;
  box-shadow: 0 0 100px rgba(168, 62, 12, 0.9);
}

.contact-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.4rem 0;
}
.contact-social ul {
  list-style: none;
  display: flex;
}
.contact-social ul li:not(:last-child) {
  margin-right: 3rem;
}
.contact-social ul li a {
  color: #202217;
  font-size: 1.5rem;
  background-color: #a83e0c;
  border-radius: 40px;
  box-shadow: inset 0 0 0 0 #8d785b;
  transition: all 0.5s;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-social ul li a:hover {
  box-shadow: inset 200px 0 0 0 #8d785b;
}

@keyframes contact-bg {
  from {
    background-color: #a83e0c;
    color: #202217;
  }
  to {
    background-color: #202217;
    color: #a83e0c;
  }
}
@media screen and (max-width: 874.98px) {
  .contact header h2 {
    letter-spacing: 1rem;
    font-size: 8vw;
  }
}
@media screen and (max-width: 599.98px) {
  .contact-form {
    width: 300px;
  }
}
@media screen and (max-width: 555.98px) {
  .phone-email h3 {
    margin-top: 1rem;
  }
}/*# sourceMappingURL=app.css.map */