.projects {
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem 10rem;

  h2 {
    padding: 1rem 0;
    font-size: 3rem;
    color: #ca4e15;
    white-space: nowrap;
  }
  p {
    color: wheat;
    font-size: 1.2rem;
  }
}

.project {
  cursor: pointer;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  position: relative;
  .detail {
    position: relative;
    z-index: 2;
  }
  &:not(:last-child) {
    margin-bottom: 8rem;
  }
  &:last-child {
    margin-bottom: 3rem;
  }
  .line {
    height: 0.5rem;
    background-color: #a83e0c;
    margin-bottom: 3rem;
  }
  a {
    display: inline-block;
    position: relative;
  }
  img {
    width: 313px;
    height: 150px;
    object-fit: cover;
    position: relative;
    z-index: 3;
    object-position: top;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.9);
    }
  }
  .circle-project {
    width: 35px;
    height: 0;
    background: #ca4e15;
    position: absolute;
    right: -25px;
    transition: all 0.5s linear;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }
  .circle-project-left {
    display: none;
    right: auto;
    left: -25px;
  }
  .line-project {
    width: 0%;
    position: absolute;
    height: 10px;
    background-color: #ca4e15;
    transition: all 1s;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
  }

  &:hover {
    .circle-project {
      height: 150px;
      transition: all 0.5s linear 0.5s;
    }
    .line-project {
      width: 100%;
    }
  }
}

.odd-project {
  direction: rtl;
  .circle-project {
    right: auto;
    left: -25px;
  }
  .circle-project-left {
    left: auto;
    right: -25px;
  }
}

.btn-project {
  position: relative;
  left: 0;
  top: 0;
  background: wheat;
  border-color: #fff;
  color: #a83e0c;
  border: 0;
  font-weight: 600;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  padding: 15px;
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
}

.btn-project:before {
  position: absolute;
  left: 12px;
  top: 10px;
  background: #a83e0c;
  border: 0;
  border-radius: 0;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.btn-project:hover {
  left: 12px;
  top: 10px;
  background: #a83e0c;
  color: #fff;
}

.btn-project:hover:before {
  left: -12px;
  top: -10px;
  background: #fff;
}

.btn-project,
.btn-project:before {
  transition: all 0.3s linear;
}

// Media Projects
@media screen and (max-width: 874.98px) {
  .projects {
    padding: 4rem 4rem;
    .project {
      .detail {
        margin-top: 16px;
      }
      h2 {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .projects {
    .project {
      .circle-project-left {
        display: block;
      }
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 5rem;
      }
    }
  }
}

@media screen and (max-width: 599.98px) {
  .projects {
    padding: 2rem 1rem;
    h2 {
      font-size: 2.4rem;
    }
  }
}
