.home {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202217;
  position: relative;
}

.letters {
  display: flex;
  font-size: 9rem;
  color: #8d785b;
  z-index: 2;
  user-select: none;
}
.letters-tablet {
  display: flex;
  font-size: 9rem;
  color: #8d785b;
  z-index: 2;
  user-select: none;
}
.circle-shape {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 700px;
  height: 700px;
  img {
    width: 700px;
    height: 700px;
    position: absolute;
    opacity: 0.7;
    &:first-child {
      animation: rotateRing 5s linear infinite;
    }
    &:last-child {
      animation: rotateRing 10s linear infinite;
    }
    @keyframes rotateRing {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.circle-shape-2 {
  position: absolute;
  width: 140px;
  height: 140px;
  background-color: #a83e0c;
  border-radius: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #202217;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.circle-shape-3 {
  @extend .circle-shape-2;
  width: 170px;
  height: 170px;
}

.home-img {
  overflow: hidden;
  position: absolute;
  transform: translate(-101%, 32%);
  width: 470px;

  .box {
    background-color: #202217;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
}

.home-text {
  position: absolute;
  text-align: center;
  left: 0;
  top: 130px;
  z-index: 2;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;

  > h1 {
    font-size: 3.5rem;
    color: #a83e0c;
    display: inline-block;
    white-space: nowrap;
  }

  h2 {
    font-size: 2.3rem;
    color: #8d785b;
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.17rem;
    display: inline-block;
    width: 43%;
    color: #8d785b;
    white-space: normal;
  }
  #khaki-mobile {
    line-height: 80px;
    color: #8d785b;
    display: inline-flex;
    font-size: 1rem;
    margin: 0.6rem 0 0 1rem;
    position: fixed;
    bottom: 0;
    span {
      color: #a83e0c;
      margin: 0.5rem 0.7rem 0 0.7rem;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.home-social {
  margin-top: 5rem;

  ul {
    list-style: none;
    display: inline-flex;

    li {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    li a {
      color: #202217;
      font-size: 1.5rem;
      background-color: #a83e0c;
      border-radius: 40px;
      box-shadow: inset 0 0 0 0 #8d785b;
      transition: all 0.5s;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        box-shadow: inset 200px 0 0 0 #8d785b;
      }
    }
  }
}
// Media Home

@media screen and (max-width: 1279.98px) {
  .home-img {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .home-text p {
    width: 600px;
  }
}
@media screen and (max-width: 999.98px) {
  html {
    font-size: 90%;
  }

  .home-text p {
    width: 60%;
  }

  .circle-shape {
    width: 650px;
    height: 650px;
  }

  .circle-shape-2 {
    width: 120px;
    height: 120px;
  }

  .circle-shape-3 {
    width: 160px;
    height: 160px;
  }
}
@media screen and (min-width: 875px) {
  .letters-tablet {
    display: none;
  }
}
@media screen and (max-width: 874.98px) {
  html {
    font-size: 80%;
  }
  .letters,
  .circle-shape-3,
  .circle-shape-2 {
    display: none;
  }
  .circle-shape {
    width: 630px;
    height: 630px;
  }
}
@media screen and (min-width: 600px) {
  .home-text #khaki-mobile {
    display: none;
  }
}
@media screen and (max-width: 599.98px) {
  .logo {
    display: none;
  }
  .circle-shape {
    display: none;
  }
  .home-text {
    top: -3%;
    p {
      width: 90%;
    }
  }
}
